TestClient/Service References/MailBoxService/service3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/MailBoxGateway/service?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MailBoxModels.Gateway" />
  <xs:import schemaLocation="http://localhost:8733/MailBoxGateway/service?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/MailBoxModels.EmailTemplatesModels" />
  <xs:element name="SendMail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MailBoxModels.Gateway" minOccurs="0" name="msg" nillable="true" type="q1:EmailRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMailResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SendTemplateMail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MailBoxModels.Gateway" minOccurs="0" name="req" nillable="true" type="q2:EmailRequest" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MailBoxModels.EmailTemplatesModels" minOccurs="0" name="templateData" nillable="true" type="q3:SimpleTemplate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendTemplateMailResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>