TestClient/Service References/MailBoxService/service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MailBoxModels.Gateway" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MailBoxModels.Gateway" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/MailBoxGateway/service?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="EmailRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="recipientList" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="sender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="subject" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmailRequest" nillable="true" type="tns:EmailRequest" />
  <xs:complexType name="EmailRequestFault">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ErrorList" nillable="true" type="q2:ArrayOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmailRequestFault" nillable="true" type="tns:EmailRequestFault" />
</xs:schema>